
.particle-container.left-top{
    
    /* right: 100%; */
    opacity: .3;
    top: 10%;
}
.particle-container{
    position: absolute;
    width: 100%;
    height: 90%;
    overflow: hidden;
    pointer-events: none !important;
    z-index: 10;
}
.particle {
    position:absolute;
    border-radius:50%;
    -webkit-box-shadow:0 0 10px 2px rgba(184,255,0,.6);
    box-shadow:0 0 10px 2px rgba(184,255,0,.6);
    background:#fff !important;
    width:4px !important;
    height:4px !important
   }
   @-webkit-keyframes particle-animation-1 {
    to {
     -webkit-transform:translate3d(65vw, 88vh, 85px);
     transform:translate3d(65vw, 88vh, 85px)
    }
   }
   @keyframes particle-animation-1 {
    to {
     -webkit-transform:translate3d(65vw, 88vh, 85px);
     transform:translate3d(65vw, 88vh, 85px)
    }
   }
   .particle:first-child {
    -webkit-animation:particle-animation-1 20s linear infinite;
    animation:particle-animation-1 20s linear infinite;
    opacity:.06;
    height:9px;
    width:9px;
    -webkit-animation-delay:-0.2s;
    animation-delay:-0.2s;
    -webkit-transform:translate3d(47vw, 76vh, 96px);
    transform:translate3d(47vw, 76vh, 96px)
   }
   @-webkit-keyframes particle-animation-2 {
    to {
     -webkit-transform:translate3d(57vw, 46vh, 48px);
     transform:translate3d(57vw, 46vh, 48px)
    }
   }
   @keyframes particle-animation-2 {
    to {
     -webkit-transform:translate3d(57vw, 46vh, 48px);
     transform:translate3d(57vw, 46vh, 48px)
    }
   }
   .particle:nth-child(2) {
    -webkit-animation:particle-animation-2 20s linear infinite;
    animation:particle-animation-2 20s linear infinite;
    opacity:.68;
    height:10px;
    width:10px;
    -webkit-animation-delay:-0.4s;
    animation-delay:-0.4s;
    -webkit-transform:translate3d(90vw, 34vh, 49px);
    transform:translate3d(90vw, 34vh, 49px)
   }
   @-webkit-keyframes particle-animation-3 {
    to {
     -webkit-transform:translate3d(89vw, 8vh, 90px);
     transform:translate3d(89vw, 8vh, 90px)
    }
   }
   @keyframes particle-animation-3 {
    to {
     -webkit-transform:translate3d(89vw, 8vh, 90px);
     transform:translate3d(89vw, 8vh, 90px)
    }
   }
   .particle:nth-child(3) {
    -webkit-animation:particle-animation-3 20s linear infinite;
    animation:particle-animation-3 20s linear infinite;
    opacity:.61;
    height:10px;
    width:10px;
    -webkit-animation-delay:-0.6s;
    animation-delay:-0.6s;
    -webkit-transform:translate3d(35vw, 17vh, 62px);
    transform:translate3d(35vw, 17vh, 62px)
   }
   @-webkit-keyframes particle-animation-4 {
    to {
     -webkit-transform:translate3d(23vw, 54vh, 68px);
     transform:translate3d(23vw, 54vh, 68px)
    }
   }
   @keyframes particle-animation-4 {
    to {
     -webkit-transform:translate3d(23vw, 54vh, 68px);
     transform:translate3d(23vw, 54vh, 68px)
    }
   }
   .particle:nth-child(4) {
    -webkit-animation:particle-animation-4 20s linear infinite;
    animation:particle-animation-4 20s linear infinite;
    opacity:.34;
    height:7px;
    width:7px;
    -webkit-animation-delay:-0.8s;
    animation-delay:-0.8s;
    -webkit-transform:translate3d(60vw, 61vh, 59px);
    transform:translate3d(60vw, 61vh, 59px)
   }
   @-webkit-keyframes particle-animation-5 {
    to {
     -webkit-transform:translate3d(33vw, 53vh, 36px);
     transform:translate3d(33vw, 53vh, 36px)
    }
   }
   @keyframes particle-animation-5 {
    to {
     -webkit-transform:translate3d(33vw, 53vh, 36px);
     transform:translate3d(33vw, 53vh, 36px)
    }
   }
   .particle:nth-child(5) {
    -webkit-animation:particle-animation-5 20s linear infinite;
    animation:particle-animation-5 20s linear infinite;
    opacity:.5;
    height:8px;
    width:8px;
    -webkit-animation-delay:-1s;
    animation-delay:-1s;
    -webkit-transform:translate3d(34vw, 10vh, 36px);
    transform:translate3d(34vw, 10vh, 36px)
   }
   @-webkit-keyframes particle-animation-6 {
    to {
     -webkit-transform:translate3d(53vw, 40vh, 40px);
     transform:translate3d(53vw, 40vh, 40px)
    }
   }
   @keyframes particle-animation-6 {
    to {
     -webkit-transform:translate3d(53vw, 40vh, 40px);
     transform:translate3d(53vw, 40vh, 40px)
    }
   }
   .particle:nth-child(6) {
    -webkit-animation:particle-animation-6 20s linear infinite;
    animation:particle-animation-6 20s linear infinite;
    opacity:.85;
    height:7px;
    width:7px;
    -webkit-animation-delay:-1.2s;
    animation-delay:-1.2s;
    -webkit-transform:translate3d(77vw, 89vh, 20px);
    transform:translate3d(77vw, 89vh, 20px)
   }
   @-webkit-keyframes particle-animation-7 {
    to {
     -webkit-transform:translate3d(1vw, 41vh, 49px);
     transform:translate3d(1vw, 41vh, 49px)
    }
   }
   @keyframes particle-animation-7 {
    to {
     -webkit-transform:translate3d(1vw, 41vh, 49px);
     transform:translate3d(1vw, 41vh, 49px)
    }
   }
   .particle:nth-child(7) {
    -webkit-animation:particle-animation-7 20s linear infinite;
    animation:particle-animation-7 20s linear infinite;
    opacity:.57;
    height:9px;
    width:9px;
    -webkit-animation-delay:-1.4s;
    animation-delay:-1.4s;
    -webkit-transform:translate3d(50vw, 52vh, 51px);
    transform:translate3d(50vw, 52vh, 51px)
   }
   @-webkit-keyframes particle-animation-8 {
    to {
     -webkit-transform:translate3d(35vw, 29vh, 75px);
     transform:translate3d(35vw, 29vh, 75px)
    }
   }
   @keyframes particle-animation-8 {
    to {
     -webkit-transform:translate3d(35vw, 29vh, 75px);
     transform:translate3d(35vw, 29vh, 75px)
    }
   }
   .particle:nth-child(8) {
    -webkit-animation:particle-animation-8 20s linear infinite;
    animation:particle-animation-8 20s linear infinite;
    opacity:.58;
    height:10px;
    width:10px;
    /*! -webkit-animation-delay:-1.6s; *//*! animation-delay:-1.6s; */
    -webkit-transform:translate3d(64vw, 32vh, 86px);
    transform:translate3d(64vw, 32vh, 86px)
   }
   @-webkit-keyframes particle-animation-9 {
    to {
     -webkit-transform:translate3d(59vw, 66vh, 91px);
     transform:translate3d(59vw, 66vh, 91px)
    }
   }
   @keyframes particle-animation-9 {
    to {
     -webkit-transform:translate3d(59vw, 66vh, 91px);
     transform:translate3d(59vw, 66vh, 91px)
    }
   }
   .particle:nth-child(9) {
    -webkit-animation:particle-animation-9 20s linear infinite;
    animation:particle-animation-9 20s linear infinite;
    opacity:.07;
    height:10px;
    width:10px;
    -webkit-animation-delay:-1.8s;
    animation-delay:-1.8s;
    -webkit-transform:translate3d(69vw, 43vh, 24px);
    transform:translate3d(69vw, 43vh, 24px)
   }
   @-webkit-keyframes particle-animation-10 {
    to {
     -webkit-transform:translate3d(69vw, 35vh, 5px);
     transform:translate3d(69vw, 35vh, 5px)
    }
   }
   @keyframes particle-animation-10 {
    to {
     -webkit-transform:translate3d(69vw, 35vh, 5px);
     transform:translate3d(69vw, 35vh, 5px)
    }
   }
   .particle:nth-child(10) {
    -webkit-animation:particle-animation-10 20s linear infinite;
    animation:particle-animation-10 20s linear infinite;
    opacity:.15;
    height:7px;
    width:7px;
    -webkit-animation-delay:-2s;
    animation-delay:-2s;
    -webkit-transform:translate3d(36vw, 33vh, 76px);
    transform:translate3d(36vw, 33vh, 76px)
   }
   @-webkit-keyframes particle-animation-11 {
    to {
     -webkit-transform:translate3d(87vw, 23vh, 34px);
     transform:translate3d(87vw, 23vh, 34px)
    }
   }
   @keyframes particle-animation-11 {
    to {
     -webkit-transform:translate3d(87vw, 23vh, 34px);
     transform:translate3d(87vw, 23vh, 34px)
    }
   }
   .particle:nth-child(11) {
    -webkit-animation:particle-animation-11 20s linear infinite;
    animation:particle-animation-11 20s linear infinite;
    opacity:.84;
    height:6px;
    width:6px;
    -webkit-animation-delay:-2.2s;
    animation-delay:-2.2s;
    -webkit-transform:translate3d(7vw, 50vh, 49px);
    transform:translate3d(7vw, 50vh, 49px)
   }
   @-webkit-keyframes particle-animation-12 {
    to {
     -webkit-transform:translate3d(32vw, 5vh, 89px);
     transform:translate3d(32vw, 5vh, 89px)
    }
   }
   @keyframes particle-animation-12 {
    to {
     -webkit-transform:translate3d(32vw, 5vh, 89px);
     transform:translate3d(32vw, 5vh, 89px)
    }
   }
   .particle:nth-child(12) {
    -webkit-animation:particle-animation-12 20s linear infinite;
    animation:particle-animation-12 20s linear infinite;
    opacity:.22;
    height:6px;
    width:6px;
    -webkit-animation-delay:-2.4s;
    animation-delay:-2.4s;
    -webkit-transform:translate3d(37vw, 81vh, 44px);
    transform:translate3d(37vw, 81vh, 44px)
   }
   @-webkit-keyframes particle-animation-13 {
    to {
     -webkit-transform:translate3d(45vw, 87vh, 45px);
     transform:translate3d(45vw, 87vh, 45px)
    }
   }
   @keyframes particle-animation-13 {
    to {
     -webkit-transform:translate3d(45vw, 87vh, 45px);
     transform:translate3d(45vw, 87vh, 45px)
    }
   }
   .particle:nth-child(13) {
    -webkit-animation:particle-animation-13 20s linear infinite;
    animation:particle-animation-13 20s linear infinite;
    opacity:.38;
    height:10px;
    width:10px;
    -webkit-animation-delay:-2.6s;
    animation-delay:-2.6s;
    -webkit-transform:translate3d(8vw, 7vh, 47px);
    transform:translate3d(8vw, 7vh, 47px)
   }
   @-webkit-keyframes particle-animation-14 {
    to {
     -webkit-transform:translate3d(20vw, 61vh, 17px);
     transform:translate3d(20vw, 61vh, 17px)
    }
   }
   @keyframes particle-animation-14 {
    to {
     -webkit-transform:translate3d(20vw, 61vh, 17px);
     transform:translate3d(20vw, 61vh, 17px)
    }
   }
   .particle:nth-child(14) {
    -webkit-animation:particle-animation-14 20s linear infinite;
    animation:particle-animation-14 20s linear infinite;
    opacity:.9;
    height:8px;
    width:8px;
    -webkit-animation-delay:-2.8s;
    animation-delay:-2.8s;
    -webkit-transform:translate3d(9vw, 29vh, 45px);
    transform:translate3d(9vw, 29vh, 45px)
   }
   @-webkit-keyframes particle-animation-15 {
    to {
     -webkit-transform:translate3d(24vw, 3vh, 15px);
     transform:translate3d(24vw, 3vh, 15px)
    }
   }
   @keyframes particle-animation-15 {
    to {
     -webkit-transform:translate3d(24vw, 3vh, 15px);
     transform:translate3d(24vw, 3vh, 15px)
    }
   }
   .particle:nth-child(15) {
    -webkit-animation:particle-animation-15 20s linear infinite;
    animation:particle-animation-15 20s linear infinite;
    opacity:.11;
    height:7px;
    width:7px;
    -webkit-animation-delay:-3s;
    animation-delay:-3s;
    -webkit-transform:translate3d(58vw, 29vh, 10px);
    transform:translate3d(58vw, 29vh, 10px)
   }
   @-webkit-keyframes particle-animation-16 {
    to {
     -webkit-transform:translate3d(27vw, 79vh, 44px);
     transform:translate3d(27vw, 79vh, 44px)
    }
   }
   @keyframes particle-animation-16 {
    to {
     -webkit-transform:translate3d(27vw, 79vh, 44px);
     transform:translate3d(27vw, 79vh, 44px)
    }
   }
   .particle:nth-child(16) {
    -webkit-animation:particle-animation-16 20s linear infinite;
    animation:particle-animation-16 20s linear infinite;
    opacity:.61;
    height:8px;
    width:8px;
    -webkit-animation-delay:-3.2s;
    animation-delay:-3.2s;
    -webkit-transform:translate3d(59vw, 43vh, 6px);
    transform:translate3d(59vw, 43vh, 6px)
   }
   @-webkit-keyframes particle-animation-17 {
    to {
     -webkit-transform:translate3d(11vw, 24vh, 44px);
     transform:translate3d(11vw, 24vh, 44px)
    }
   }
   @keyframes particle-animation-17 {
    to {
     -webkit-transform:translate3d(11vw, 24vh, 44px);
     transform:translate3d(11vw, 24vh, 44px)
    }
   }
   .particle:nth-child(17) {
    -webkit-animation:particle-animation-17 20s linear infinite;
    animation:particle-animation-17 20s linear infinite;
    opacity:.71;
    height:8px;
    width:8px;
    -webkit-animation-delay:-3.4s;
    animation-delay:-3.4s;
    -webkit-transform:translate3d(52vw, 43vh, 46px);
    transform:translate3d(52vw, 43vh, 46px)
   }
   @-webkit-keyframes particle-animation-18 {
    to {
     -webkit-transform:translate3d(4vw, 53vh, 99px);
     transform:translate3d(4vw, 53vh, 99px)
    }
   }
   @keyframes particle-animation-18 {
    to {
     -webkit-transform:translate3d(4vw, 53vh, 99px);
     transform:translate3d(4vw, 53vh, 99px)
    }
   }
   .particle:nth-child(18) {
    -webkit-animation:particle-animation-18 20s linear infinite;
    animation:particle-animation-18 20s linear infinite;
    opacity:.85;
    height:7px;
    width:7px;
    -webkit-animation-delay:-3.6s;
    animation-delay:-3.6s;
    -webkit-transform:translate3d(57vw, 69vh, 18px);
    transform:translate3d(57vw, 69vh, 18px)
   }
   @-webkit-keyframes particle-animation-19 {
    to {
     -webkit-transform:translate3d(1vw, 32vh, 73px);
     transform:translate3d(1vw, 32vh, 73px)
    }
   }
   @keyframes particle-animation-19 {
    to {
     -webkit-transform:translate3d(1vw, 32vh, 73px);
     transform:translate3d(1vw, 32vh, 73px)
    }
   }
   .particle:nth-child(19) {
    -webkit-animation:particle-animation-19 20s linear infinite;
    animation:particle-animation-19 20s linear infinite;
    opacity:1;
    height:8px;
    width:8px;
    -webkit-animation-delay:-3.8s;
    animation-delay:-3.8s;
    -webkit-transform:translate3d(31vw, 37vh, 59px);
    transform:translate3d(31vw, 37vh, 59px)
   }
   @-webkit-keyframes particle-animation-20 {
    to {
     -webkit-transform:translate3d(83vw, 15vh, 14px);
     transform:translate3d(83vw, 15vh, 14px)
    }
   }
   @keyframes particle-animation-20 {
    to {
     -webkit-transform:translate3d(83vw, 15vh, 14px);
     transform:translate3d(83vw, 15vh, 14px)
    }
   }
   .particle:nth-child(20) {
    -webkit-animation:particle-animation-20 20s linear infinite;
    animation:particle-animation-20 20s linear infinite;
    opacity:.58;
    height:8px;
    width:8px;
    -webkit-animation-delay:-4s;
    animation-delay:-4s;
    -webkit-transform:translate3d(17vw, 41vh, 31px);
    transform:translate3d(17vw, 41vh, 31px)
   }
   @-webkit-keyframes particle-animation-21 {
    to {
     -webkit-transform:translate3d(21vw, 3vh, 43px);
     transform:translate3d(21vw, 3vh, 43px)
    }
   }
   @keyframes particle-animation-21 {
    to {
     -webkit-transform:translate3d(21vw, 3vh, 43px);
     transform:translate3d(21vw, 3vh, 43px)
    }
   }
   .particle:nth-child(21) {
    -webkit-animation:particle-animation-21 20s linear infinite;
    animation:particle-animation-21 20s linear infinite;
    opacity:.94;
    height:10px;
    width:10px;
    -webkit-animation-delay:-4.2s;
    animation-delay:-4.2s;
    -webkit-transform:translate3d(23vw, 62vh, 74px);
    transform:translate3d(23vw, 62vh, 74px)
   }
   @-webkit-keyframes particle-animation-22 {
    to {
     -webkit-transform:translate3d(46vw, 50vh, 61px);
     transform:translate3d(46vw, 50vh, 61px)
    }
   }
   @keyframes particle-animation-22 {
    to {
     -webkit-transform:translate3d(46vw, 50vh, 61px);
     transform:translate3d(46vw, 50vh, 61px)
    }
   }
   .particle:nth-child(22) {
    -webkit-animation:particle-animation-22 20s linear infinite;
    animation:particle-animation-22 20s linear infinite;
    opacity:.56;
    height:6px;
    width:6px;
    -webkit-animation-delay:-4.4s;
    animation-delay:-4.4s;
    -webkit-transform:translate3d(13vw, 54vh, 46px);
    transform:translate3d(13vw, 54vh, 46px)
   }
   @-webkit-keyframes particle-animation-23 {
    to {
     -webkit-transform:translate3d(86vw, 82vh, 57px);
     transform:translate3d(86vw, 82vh, 57px)
    }
   }
   @keyframes particle-animation-23 {
    to {
     -webkit-transform:translate3d(86vw, 82vh, 57px);
     transform:translate3d(86vw, 82vh, 57px)
    }
   }
   .particle:nth-child(23) {
    -webkit-animation:particle-animation-23 20s linear infinite;
    animation:particle-animation-23 20s linear infinite;
    opacity:.13;
    height:7px;
    width:7px;
    -webkit-animation-delay:-4.6s;
    animation-delay:-4.6s;
    -webkit-transform:translate3d(4vw, 65vh, 18px);
    transform:translate3d(4vw, 65vh, 18px)
   }
   @-webkit-keyframes particle-animation-24 {
    to {
     -webkit-transform:translate3d(90vw, 17vh, 68px);
     transform:translate3d(90vw, 17vh, 68px)
    }
   }
   @keyframes particle-animation-24 {
    to {
     -webkit-transform:translate3d(90vw, 17vh, 68px);
     transform:translate3d(90vw, 17vh, 68px)
    }
   }
   .particle:nth-child(24) {
    -webkit-animation:particle-animation-24 20s linear infinite;
    animation:particle-animation-24 20s linear infinite;
    opacity:.17;
    height:8px;
    width:8px;
    -webkit-animation-delay:-4.8s;
    animation-delay:-4.8s;
    -webkit-transform:translate3d(48vw, 23vh, 5px);
    transform:translate3d(48vw, 23vh, 5px)
   }
   @-webkit-keyframes particle-animation-25 {
    to {
     -webkit-transform:translate3d(59vw, 89vh, 52px);
     transform:translate3d(59vw, 89vh, 52px)
    }
   }
   @keyframes particle-animation-25 {
    to {
     -webkit-transform:translate3d(59vw, 89vh, 52px);
     transform:translate3d(59vw, 89vh, 52px)
    }
   }
   .particle:nth-child(25) {
    -webkit-animation:particle-animation-25 20s linear infinite;
    animation:particle-animation-25 20s linear infinite;
    opacity:.96;
    height:8px;
    width:8px;
    -webkit-animation-delay:-5s;
    animation-delay:-5s;
    -webkit-transform:translate3d(66vw, 69vh, 40px);
    transform:translate3d(66vw, 69vh, 40px)
   }
   @-webkit-keyframes particle-animation-26 {
    to {
     -webkit-transform:translate3d(59vw, 90vh, 28px);
     transform:translate3d(59vw, 90vh, 28px)
    }
   }
   @keyframes particle-animation-26 {
    to {
     -webkit-transform:translate3d(59vw, 90vh, 28px);
     transform:translate3d(59vw, 90vh, 28px)
    }
   }
   .particle:nth-child(26) {
    -webkit-animation:particle-animation-26 20s linear infinite;
    animation:particle-animation-26 20s linear infinite;
    opacity:.3;
    height:6px;
    width:6px;
    -webkit-animation-delay:-5.2s;
    animation-delay:-5.2s;
    -webkit-transform:translate3d(77vw, 12vh, 35px);
    transform:translate3d(77vw, 12vh, 35px)
   }
   @-webkit-keyframes particle-animation-27 {
    to {
     -webkit-transform:translate3d(15vw, 15vh, 100px);
     transform:translate3d(15vw, 15vh, 100px)
    }
   }
   @keyframes particle-animation-27 {
    to {
     -webkit-transform:translate3d(15vw, 15vh, 100px);
     transform:translate3d(15vw, 15vh, 100px)
    }
   }
   .particle:nth-child(27) {
    -webkit-animation:particle-animation-27 20s linear infinite;
    animation:particle-animation-27 20s linear infinite;
    opacity:.22;
    height:7px;
    width:7px;
    -webkit-animation-delay:-5.4s;
    animation-delay:-5.4s;
    -webkit-transform:translate3d(10vw, 41vh, 96px);
    transform:translate3d(10vw, 41vh, 96px)
   }
   @-webkit-keyframes particle-animation-28 {
    to {
     -webkit-transform:translate3d(39vw, 8vh, 85px);
     transform:translate3d(39vw, 8vh, 85px)
    }
   }
   @keyframes particle-animation-28 {
    to {
     -webkit-transform:translate3d(39vw, 8vh, 85px);
     transform:translate3d(39vw, 8vh, 85px)
    }
   }
   .particle:nth-child(28) {
    -webkit-animation:particle-animation-28 20s linear infinite;
    animation:particle-animation-28 20s linear infinite;
    opacity:.93;
    height:8px;
    width:8px;
    -webkit-animation-delay:-5.6s;
    animation-delay:-5.6s;
    -webkit-transform:translate3d(52vw, 34vh, 23px);
    transform:translate3d(52vw, 34vh, 23px)
   }
   @-webkit-keyframes particle-animation-29 {
    to {
     -webkit-transform:translate3d(58vw, 25vh, 61px);
     transform:translate3d(58vw, 25vh, 61px)
    }
   }
   @keyframes particle-animation-29 {
    to {
     -webkit-transform:translate3d(58vw, 25vh, 61px);
     transform:translate3d(58vw, 25vh, 61px)
    }
   }
   .particle:nth-child(29) {
    -webkit-animation:particle-animation-29 20s linear infinite;
    animation:particle-animation-29 20s linear infinite;
    opacity:.25;
    height:9px;
    width:9px;
    -webkit-animation-delay:-5.8s;
    animation-delay:-5.8s;
    -webkit-transform:translate3d(66vw, 26vh, 7px);
    transform:translate3d(66vw, 26vh, 7px)
   }
   @-webkit-keyframes particle-animation-30 {
    to {
     -webkit-transform:translate3d(6vw, 1vh, 16px);
     transform:translate3d(6vw, 1vh, 16px)
    }
   }
   @keyframes particle-animation-30 {
    to {
     -webkit-transform:translate3d(6vw, 1vh, 16px);
     transform:translate3d(6vw, 1vh, 16px)
    }
   }
   .particle:nth-child(30) {
    -webkit-animation:particle-animation-30 20s linear infinite;
    animation:particle-animation-30 20s linear infinite;
    opacity:.6;
    height:8px;
    width:8px;
    -webkit-animation-delay:-6s;
    animation-delay:-6s;
    -webkit-transform:translate3d(87vw, 32vh, 80px);
    transform:translate3d(87vw, 32vh, 80px)
   }
   .star-container {
    width:400px;
    height:400px;
    position:absolute;
    left:0;
    bottom:0
   }
   .star-container .particle-container {
    width:100%;
    height:100%
   }
   @keyframes particle-animation-1 {
    to {
     transform:translate3d(10px, 50px, 85px)
    }
   }
   @keyframes superman-fly-right {
    from {
     transform:translateX(0)
    }
    to {
     transform:translateX(400px)
    }
   }
   .star-container .particle-container .particle:first-child {
    animation:superman-fly-right 20s linear infinite;
    opacity:.06;
    height:9px;
    width:9px;
    animation-delay:-0.2s
   }
   